.authorInfo {
    display:grid; 
    grid-template-columns:300px auto;
    margin-bottom:30px; 
}

.authorInfoImage {
    width: 150px;
    margin:auto;
}

.authorInfoSpan {
    font-family: "Crete Round";
    font-size:30px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.authorInfoName {
    position: relative;
    cursor: pointer;
}

.authorInfoName:after {
    content:'';
    display: block;
    border-bottom: 3px solid black;
    width: 0;
    position: absolute;
    right: 0;
    transition: 0.5s ease;
}

.authorInfoName:hover:after {
    width:100%;
}

.authorBlogs {
    border-radius:2;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    background:white; 
    z-index:5; 
    margin-bottom:20px; 
    padding:20px 10px 5px 20px; 
}

.authorBlogsDiv {
    display:grid; 
    grid-template-rows:auto auto 50px; 
    grid-template-columns: auto 300px;
    grid-template-areas:
                "header image"
                "excerpt image"
                "date image";
    font-family:"Raleway";
    padding-bottom: 10px;
}

.authorBlogsTitle {
    grid-area: header;
    font-family: 'Crete Round';
    cursor: pointer;
    position: relative;    
}

.authorBlogsImg {
    grid-area: image;
}

.authorBlogsTitleSpan {
    position: relative;
}


.authorBlogsExcerpt {
    grid-area: excerpt; 
    margin:auto; 
    font-family:"Thasadith";
    cursor: pointer;
    text-decoration: none;
    transition: 1s ease;
}

.authorBlogsDate {
    grid-area: date;
    display:flex;
    flex-direction:column;
    font-size:13px;
    margin:auto 0;
    padding-top:5px;
    color:#757575;
}

@media only screen and (max-width:750px) {
    .authorBlogsDiv {
        grid-template-columns: none;
        grid-template-rows: 200px auto auto 50px;
        grid-template-areas:
            "image"
            "header"
            "excerpt"
            "date"
    }

    .authorBlogsImg {
        margin-bottom:10px;
    }

    .authorInfo {
        grid-template-columns: none;
        grid-template-rows: 200px auto;
    }

    .authorInfoSpan {
        justify-content: center;
        font-size: 20px;
    }

    .authorInfoImage {
        width:120px;
    }

}