.authors {
    max-width: 960px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.author {
    display: grid;
    grid-template-columns: 300px auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: white;
    /* border-top: 4px solid #ba3e32; */
    min-height: 340px;
    width: 100%;
    padding-bottom:20px;
}


.authorImage {
    width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    height:100%;
}

.memberImage {
    width: 200px;
    height: 200px;
    /* margin: 20px 0; */
    min-width: 0;
}

.authorRole {
    width:100%;
    height: 240px;
    margin: auto;
    min-width: 0;
    padding-right: 20px;
}

.authorName {
    font-family: 'Raleway';min-width: 0;
}

.authorDesc {
    font-family: 'Thasadith';
    min-width: 0;
}

.authorButtons {
    display: flex;
    /* border:1px solid black; */
    justify-content: center;
}

.authorImg {
    padding:0;
    margin:0;
    width:34px;
    margin-right: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.authorImg:hover {
    transform: scale(1.5);
}

@media only screen and (max-width:750px) {
    .author {
        grid-template-columns: none;
        grid-template-rows: 200px auto;
        padding-bottom:60px;
    }
    
    .authorImage {
        height: 100%;
        width:100%;
    }
    
    .memberImage {
        width: 150px;
        height: 150px;
        
    }
    
    .authorRole {
        padding-left: 20px;
        padding-right:20px;
    }

    .authorDesc {
        font-size: 13px;
        width: 100%;
    }
}