.postBox {
    border-radius:2;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background:rgba(255,255,255,1);
    z-index:5;
    margin-bottom:20px;
    padding:10px 10px 10px 20px;
    /* border-top: 4px solid #ba3e32; */
    min-height:230px;
    transition: all 0.3s ease;
}

.postBox:hover {
    transform: scale(1.05);
} 

.postGrid {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows:auto auto 50px;
    grid-template-columns: auto 270px;
    grid-template-areas: 
    "header image"
    "excerpt image"
    "author image";
    grid-gap: 20px;
    font-family:"Raleway";
    z-index: -1;
}

.postHeader {
    grid-area: header;
    font-family: "Crete Round";
    cursor:pointer;
    display: block;
    margin: auto 0;
    /* border: 1px solid black; */
    position: relative;
}


.postAuthor {
    grid-area: author;
    display:flex;
    flex-direction:column;
    font-size:13px;
    margin:auto 0;
    padding-top:5px;
    color:#757575;
}

.postAuthorName {
    display: inline;
    color:blue;
    text-decoration:none;
    cursor:pointer;
    z-index: 100;
}

.postExcerpt {
    grid-area: excerpt;
    margin:auto;
    font-family:"Open Sans";
    cursor:pointer;
    font-size:14px;
}

.postImage {
    grid-area: image;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items:center;
}

@media only screen and (max-width: 600px) {
    .postGrid {
        grid-template-columns: none;
        grid-template-rows: 200px auto auto 50px;
        grid-template-areas:
                    "image"
                    "header"
                    "excerpt"
                    "author";
    }

    .postHeader {
        margin-top:20px;
    }
}