.headerMainDiv {
    background: #ffffff;
    /* margin-bottom: 1rem; */
    position:fixed;
    top:0;
    width: 100vw;
    border-top: 4px solid #ba3e32;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    z-index: 100000;
}

.navItem {
    font-family: 'Thasadith', sans-serif;
    color:white;
    padding:0;
    margin:auto;
    font-size: 18px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItemLink {
    color: rgb(165, 164, 164);
    transition: all 0.3s ease;
}

.navItemLink:hover {
    color: black;
}


.headerDiv {
    margin: auto;
    max-width: 960px;
    display:grid;
    grid-template-columns:120px auto 350px;
    padding: .1rem 0;
}

.headerNav {
    grid-column-start:3;
    display:flex;
    justify-content:center;
    align-items:center; 
    padding-right:1.0875rem;
}

.headerList {
    list-style:none;
    padding:auto;
    margin:auto;
    display:flex;
    width:100%;
    justify-content:space-between;
}

.headerImg {
    width:100px;
    height:55px; 
    padding:0px 1.0875rem;
    margin:0;
    cursor:pointer;
}

.navActive {
    color:black;
}

@media only screen and (max-width:600px) {
    /* .headerImg {
        width:100px;
        margin:auto;
    } */

    .headerNav {
        grid-column-start: 2;
    }

    .headerDiv{
        grid-template-columns: 1fr 1fr;

    }

    .navItem {
        width:auto;


    }

}
